<%= render :partial => '/apologies/chart_scripts' %>

<%= render :partial => '/shared/mobile_nav_slideout' %>

<div class="container">
  
  <%= render :partial => '/shared/header' %>  
  
  <div class="container--apologies small-push-1">
    
    <div class="container--apologies--sample">
      <% @apologies.each do |apology| %>
      <%= apology.date %><br>
      <% end %>
    </div>
    
    <div class="container--apologies--count" id="count">
    </div>
    
    <div class="container--apologies--gender" id="gender">
    </div>
    
    <div class="container--apologies--relationship">
    </div>
    
    <div class="container--apologies--was_warranted">
    </div>
  
  </div>

</div>
