<div class="about_statement medium-push-2 medium-8">
  <p><strike>I've often been told that I apologize too much.</strike> Sorry, I should introduce myself. <a href="http://twitter.com/halfghaninne">I'm Alex</a>, a journalist and junior developer. I apologize a lot. And for a long time, my response to people who called that out was "that's just the way I <em>am</em>."</p>
  <p>But, some research has shown that women are more likely than men to view their actions as apology-worthy. News blogs, social-good sites, and corporate marketing campaigns have all called for women to stop apologizing, specifically highlighting the impact on women's corporate lives.</p> 
  <p>Joining a (white/cis/high-income/ableist) male-dominated field, and favoring systematic explanations over individualistic ones, I decided to test my assumption that all of my apologizing was ~*no big deal*~.</p>
  <p><b>Enter Apology Tracker.</b> The goal of this app is to record apologies as quantifiable, meaningful data, including information on the gender and power dynamics of all those apologies.</p>
  <p>I decided to build this app as a sprint introduction to non-relational databases (MongoDB) and data visualization (D3.js). It's a side-project with personal and professional significance and I always welcome feedback.</p>
  <p><a href="http://github.com/halfghaninne/sorries">Github repository</a>  |  <a href="http://www.twitter.com/halfghaninNE">Twitter</a></p>
</div>