<div class="header">
  <h2 class="header--logo small-push-1">Apology Tracker</h2>
  <div class="header--nav_icon small-pull-1">
    <a href="#">
      <img src="../../assets/menu.png">
    </a>
  </div>
</div>