<div class="header">
  <h1 class="header--logo small-push-1"><%= link_to("Apology Tracker", home_path) %></h1>
  <div class="header--nav_icon small-pull-1" id="header--nav_icon">
    <a href="#">
      <img src="../../assets/menu.png">
    </a>
  </div>
</div>