<div class="mobile_nav" id="mobile_nav" style="display: none;">
  <ul>
  <% if @user == nil %><li><%= link_to("SIGN UP", new_user_path) %></li><% end %>
  <% if @user == nil %><li><%= link_to("LOGIN", user_login_path) %></li><% end %>
  <% if @user %><li><%= link_to("LOG OUT", user_logout_path) %></li><% end %>
  </ul>
</div>

